#principal {
  width: 1000px;
  margin-left: 80px;
}

body {
  background-image: url(imagens/fundo-preto.avif);
  background-size: cover;
  background-position: center;
}

#conteudo {
  background: black;
  width: 1000px;
  margin-left: 80px;
}

#menu {
  background: #16395c;
  font-weight: bold;
  padding: 30px;
  text-align: center;
  margin-left: 80px;
  width: 940px;
}

a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.descricao {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #ffffff;
  padding: 15px;
}

#rodape {
  text-align: center;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 230px;
}

.tamanho_personagens {
  width: 300px;
}

.imagens {
  text-align: center;
  padding: 20px;
}
#select {
  background-color: #072747;
  width: 500px;
  color: #ffffff;
  padding: 7px;
  margin-left: 80px;
}
